@media (max-width: 1540px) {
	.showroom {
		padding-top: 42px;
		padding-bottom: 42px;
	}
	
	.showroom__wrapper {
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
	}

	.showroom__title {
		margin-bottom: 10px;
	}

	.showroom__address {
		font-size: 14px;
		line-height: normal;
	}

	.showroom__form-btn {
		padding: 0 41px;
		letter-spacing: -0.3px;
	}
}

@media (max-width: 1400px) {
	.container {
		padding: 0 50px;
	}

	.header {
		padding: 32px 0 24px;
	}

	.header__wrapper {
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	.header__logo-link {
		margin-right: 0;
		margin-bottom: 24px;
	}

	.header__logo-img {
		width: 187px;
	}

	.nav {
		width: 100%;
		order: 3;
	}

	.hero {
		padding: 101px 0;
		background-image: url(../img/hero/hero-md.jpg);
	}

	.hero__title {
		max-width: 585px;
	}

	.hero__text {
		max-width: 659px;
		margin-bottom: 133px;
	}

	.about__text {
		max-width: 925px;
	}

	.gallery {
		background-image: url(../img/gallery/gallery-md.jpg);
	}

	.gallery__title {
		margin-bottom: 15px;
	}

	.gallery__content {
		flex-direction: column;
		align-items: flex-start;
	}

	.gallery__era-list {
		margin-bottom: 30px;
	}

	.catalog__text {
		max-width: 925px;
	}

	.catalog__item {
		flex-direction: column;
		gap: 30px;
	}

	.catalog__item-img {
		max-width: 924px;
		max-height: 579px;
	}

	.catalog__item-name {
		margin-bottom: 7px;
	}

	.events__item {
		width: 290px;
		min-height: 683px;
	}

	.events__item--img1,
	.events__item--img2,
	.events__item--img3 {
		background-size: 290px 200px;
	}

	.events__item-wrapper {
		padding: 213px 34px 48px;
		gap: 20px;
	}

	.events__item-info {
		text-align: right;
		margin-bottom: 2px;
	}

	.events__item-title {
		max-width: 222px;
		margin-bottom: 7px;
	}

	.projects {
		padding-top: 40px;
	}

	.projects__text {
		margin-bottom: 20px;
	}

	.footer {
		padding: 40px 0;
	}

	.footer__social-icon {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 1020px) {
	.nav__list {
		gap: 44px;
	}

	.hero {
		padding: 87px 0 86px;
		background-image: url(../img/hero/hero-sm.png);
	}

	.hero__title {
		max-width: 579px;
	}

	.hero__text {
		max-width: 558px;
	}

	.gallery {
		background-image: url(../img/gallery/gallery-sm.jpg);
	}

	.gallery__works {
		gap: 34px;
	}

	.catalog__item-lifedate {
		margin-bottom: 5px;
	}

	.events__list {
		flex-direction: column;
		gap: 29px;
	}

	.events__item {
		width: 100%;
		min-height: 528px;
	}

	.events__item--img1,
	.events__item--img2,
	.events__item--img3 {
		background-size: 100% 200px;
	}

	.events__item-wrapper {
		gap: 53px;
	}

	.events__item-title {
		max-width: 493px;
		margin-bottom: 15px;
	}

	.projects {
		padding-top: 39px;
		padding-bottom: 85px;
	}

	.projects__text {
		margin-bottom: 28px;
	}

	.projects__partners {
		margin-bottom: 28px;
	}

	.projects__partners-link {
		max-width: 316px;
	}

	.showroom__form {
		flex-wrap: wrap;
		column-gap: 20px;
		row-gap: 12px;
	}

	.showroom__form-input {
		width: 323px;
	}

	.showroom__form-btn {
		padding: 0 27px;
		letter-spacing: normal;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 0 15px;
	}

	.section {
		padding: 25px 0;
	}

	.section-title {
		font-size: 28px;
		margin-bottom: 12px;
	}

	.btn {
		font-size: 12px;
	}

	.header {
		padding: 16px 0 12px;
	}

	.header__logo-link {
		margin-bottom: 9px;
	}

	.header__logo-img {
		width: 97px;
	}

	.nav {
		overflow-x: scroll;
	}

	.nav::-webkit-scrollbar {
		display: none;
	}

	.nav__list {
		gap: 24px;
	}

	.nav__link {
		font-size: 12px;
		font-weight: 700;
	}

	.search {
		width: 18px;
		height: 18px;
		background-size: cover;
	}

	.hero {
		padding: 50px 0;
		background-image: url(../img/hero/hero-mobile.jpg);
	}

	.hero__title {
		max-width: 290px;
		margin: 0 auto;
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 28px;
		text-align: center;
	}

	.hero__text {
		max-width: 264px;
		margin: 0 auto;
		margin-bottom: 36px;
		font-size: 12px;
		line-height: normal;
		font-weight: 400;
		text-align: center;
	}

	.hero__btn {
		display: block;
		margin: 0 auto;
		padding: 9px 16px 14px 19px;
	}

	.about {
		padding: 50px 0 41px;
	}

	.about__text {
		font-size: 14px;
		line-height: 28px;
	}

	.gallery {
		padding: 50px 0 47px;
		background-image: url(../img/gallery/gallery-mobile.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.gallery__works {
		width: 100%;
		flex-direction: column;
		gap: 26px;
	}

	.gallery__item {
		width: 100%;
	}

	.gallery__item-img {
		width: 100%;
		max-height: 290px;
	}

	.catalog {
		padding-top: 50px;
	}

	.catalog__text {
		margin-bottom: 30px;
	}

	.catalog__list {
		gap: 30px;
	}

	.catalog__item {
		gap: 20px;
	}

	.catalog__item-name {
		max-width: 285px;
		margin-bottom: 5px;
	}

	.catalog__item-lifedate {
		margin-bottom: 13px;
	}

	.projects {
		padding-top: 29px;
	}

	.projects__text {
		margin-bottom: 20px;
	}

	.projects__partners {
		font-size: 18px;
		margin-bottom: 11px;
	}

	.projects__partners-list {
		flex-direction: column;
		align-items: flex-start;
		gap: 12px;
	}

	.projects__partners-link {
		max-width: 290px;
		max-height: 100px;
	}

	.showroom {
		border: none;
		padding-bottom: 51px;
	}

	.showroom__wrapper {
		gap: 20px;
	}

	.showroom__title {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 5px;
	}

	.showroom__form {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.showroom__form-input {
		width: 290px;
		height: 40px;
	}

	.showroom__form-btn {
		height: 40px;
		padding: 0 35px;
	}

	.showroom__contacts-title {
		font-size: 18px;
		letter-spacing: -.4px;
	}

	.showroom__social-link {
		justify-content: center;
		align-items: center;
	}

	.showroom__social-icon {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 575px) {
	.events__list {
		gap: 24px;
	}
	
	.events__item-wrapper {
		padding: 213px 23px 48px;
		gap: 44px;
	}

	.events__item-info {
		margin-bottom: 8px;
	}
	
	.events__item-title {
		max-width: 244px;
		margin-bottom: 5px;
	}

	.events__item-details {
		padding-left: 5px;
	}

	.footer {
		padding: 20px 0;
	}

	.footer__wrapper {
		flex-direction: column-reverse;
		gap: 20px;
	}

	.footer__logo-img {
		width: 97px;
	}

	.footer__social-icon {
		width: 50px;
		height: 50px;
	}
}