@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
	url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
	url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
	url('../fonts/OpenSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

:root {
	--white-color: #FFF;
	--black-color: #000;
	--purple-color: #9D5CD0;
	--333-color: #333;
}

.container {
	max-width: 1640px;
	margin: 0 auto;
	padding: 0 20px;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn {
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}

.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.section {
	padding: 40px 0;
}

.section-title {
	margin: 0;
	margin-bottom: 16px;
	font-size: 48px;
	color: var(--333-color);
	font-weight: 400;
	line-height: normal;
}

/* header */
.header {
	padding: 30px 0;
	background-color: var(--black-color);
	color: var(--white-color);
}

.header__wrapper {
	display: flex;
	align-items: center;
}

.logo-link {
	display: flex;
}

.header__logo-link {
	margin-right: 179px;
}

.nav {
	margin-right: auto;
}

.nav__list {
	display: flex;
	align-items: center;
	gap: 96px;
}

.nav__item:hover {
	color: #C283F3;
}

.nav__item:active {
	color: #7943A4;
}

.nav__link {
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
}

.nav__link:focus {
	background: #7943A4;
	outline: none;
}

.search {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.search:focus {
	background: #7943A4;
	outline: none;
}

.search-icon {
	fill: white;
}

.search:hover .search-icon {
	fill: #C283F3;
}

.search:active .search-icon {
	fill: #9D5CD0;
}

/* hero */
.hero {
	padding: 146px 0;
	background-image: url(../img/hero/hero-lg.jpg);
	background-size: cover;
}

.hero__title,
.hero__text {
	margin: 0;
	max-width: 579px;
	width: 100%;
	color: var(--white-color);
	font-weight: 700;
}

.hero__title {
	margin-bottom: 20px;
	font-size: 72px;
	line-height: 68px;
}

.hero__text {
	margin-bottom: 92px;
	font-size: 18px;
	line-height: 30px;
}

.hero__btn {
	padding: 23px 35px;
	border-radius: 100px;
	color: var(--white-color);
	background-color: var(--purple-color);
}

.hero__btn:focus {
  outline: 2px solid #C283F3;
	outline-offset: 3px;
}

.hero__btn:hover {
  outline: 3px solid #D1A9F0;
}

.hero__btn:active {
  outline: 2px solid #D1A9F0;
	background: #7943A4;
}

/* about */
.about {
	padding: 80px 0 71px;
}

.about__text {
	margin: 0;
	max-width: 1080px;
	width: 100%;
	color: var(--333-color);
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
}

/* gallery */
.gallery {
	padding: 80px 0 76px;
	color: var(--white-color);
	background-image: url(../img/gallery/gallery-lg.jpg);
}

.gallery__title {
	margin-bottom: 20px;
	color: var(--white-color);
}

.gallery__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.gallery__era-list {
	display: flex;
	flex-direction: column;
}

.gallery__era-item {
	line-height: 32px;
	user-select: none;
	cursor: pointer;
}

.gallery__radio-input:focus + .gallery__radio-text {
	color: #C283F3;
}

.gallery__radio-input:focus + .gallery__radio-text::before {
	border: 1px solid #C283F3;
}

.gallery__era-item:focus .gallery__radio-text {
	color: #C283F3;
}

.gallery__era-item:hover .gallery__radio-text::before {
	border: 1px solid #C283F3;
}

.gallery__era-item:active .gallery__radio-text::before {
	border: 1px solid #C283F3;
}

.gallery__era-item:active .gallery__radio-text {
	color: #C283F3;
}

.gallery__era-item:active .gallery__radio-text::after {
	opacity: 1;
}

.gallery__radio-input {
	position: absolute;
	appearance: none;
}

.gallery__radio-text {
	position: relative;
	padding-left: 25px;
}

.gallery__radio-text::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	border: 1px solid var(--white-color);
	transform: translateY(-50%);
}

.gallery__radio-text::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	background-image: url("../img/svg/custom-radio-icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6px;
	transform: translateY(-50%);
	opacity: 0;
}

.gallery__radio-input:checked + .gallery__radio-text::after {
	border: 1px solid var(--purple-color);
	opacity: 1;
}

.gallery__works {
	display: flex;
	align-items: center;
	gap: 50px;
}

/* catalog */
.catalog {
	padding-top: 80px;
}

.catalog__text {
	margin: 0;
	margin-bottom: 40px;
	max-width: 1080px;
	line-height: 32px;
	color: var(--333-color);
}

.catalog__list {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.catalog__item {
	display: flex;
	align-items: center;
	gap: 50px;
}

.catalog__item-img {
	width: 100%;
	max-width: 750px;
	max-height: 470px;
}

.catalog__item-name {
	margin: 0;
	margin-bottom: 15px;
	color: var(--333-color);
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
}

.catalog__item-lifedate {
	display: inline-block;
	margin: 0;
	margin-bottom: 15px;
	color: #999;
	font-size: 12px;
	line-height: normal;
}

.catalog__item-text {
	margin: 0;
	color: var(--333-color);
	line-height: 32px;
}

/* events */
.events__list {
	display: flex;
	justify-content: space-between;
	gap: 27px;
}

.events__item {
	min-height: 700px;
	display: flex;
	flex-direction: column;
	width: 500px;
	border: 1px solid #CACACA;
}

.events__item--img1,
.events__item--img2,
.events__item--img3 {
	background-size: 500px 300px;
	background-repeat: no-repeat;
	background-position: center 0;
}

.events__item--img1 {
	background-image: url(../img/events/events-book.jpg);
}

.events__item--img2 {
	background-image: url(../img/events/events-discussion.jpg);
}

.events__item--img3 {
	background-image: url(../img/events/events-show.jpg);
}

.events__item-wrapper {
	height: 100%;
	padding: 313px 50px 48px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 65px;
}

.events__item-info {
	margin-bottom: 9px;
}

.events__item-place,
.events__item-time {
	display: block;
	color: #999;
	font-size: 12px;
	line-height: normal;
	font-weight: 600;
}

.events__item-title {
	margin: 0;
	margin-bottom: 10px;
	max-width: 340px;
	color: var(--333-color);
	font-size: 24px;
	font-weight: 600;
	line-height: normal;
}

.events__item-text {
	margin: 0;
	margin-bottom: auto;
	color: var(--333-color);
	line-height: 32px;
}

.events__item-details {
	width: fit-content;
	border-bottom: 1px solid var(--purple-color);
	color: var(--purple-color);
	line-height: 32px;
}

.events__item-details:focus {
	color: #FFF;
	border-bottom: 1px solid #FFF;
	background: #9D5CD0;
	outline: none;
}

.events__item-details:hover {
	color: #7943A4;
	border-bottom: 1px solid #7943A4;
}

.events__item-details:active {
	color: var(--333-color);
	border-bottom: 1px solid var(--333-color);
}

/* projects */
.projects {
	padding-top: 30px;
	padding-bottom: 80px;
}

.projects__text {
	margin: 0;
	margin-bottom: 30px;
	max-width: 1080px;
	line-height: 32px;
	color: var(--333-color);
}

.projects__partners {
	margin: 0;
	margin-bottom: 16px;
	color: var(--333-color);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}

.projects__partners-list {
	display: flex;
	align-items: center;
	gap: 34px;
}

.projects__partners-link {
	display: flex;
}

/* showroom */
.showroom {
	border: 1px solid #CACACA;
	padding: 35px 0;
}

.showroom__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.showroom__title {
	margin: 0;
	color: var(--333-color);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}

.showroom__address {
	color: var(--333-color);
	line-height: 32px;
	font-style: normal;
}

.showroom__form {
	display: flex;
	align-items: center;
	gap: 20px;
}

.showroom__form-input {
	width: 270px;
	height: 50px;
	border-radius: 100px;
	padding: 9px 43px 9px 24px;
	outline: none;
	border: 1px solid #333;
}

.showroom__form-input::placeholder {
	color: #999;
}

.showroom__form-input:focus {
	background: #ECECEC;
}

.showroom__form-input:hover {
	background: #ECECEC;
}

.showroom__form-btn {
	height: 50px;
	border-radius: 100px;
	color: var(--purple-color);
	padding: 0px 35px;
	border: 2px solid #9D5CD0;
	background: transparent;
}

.showroom__form-btn:focus {
	outline: 2px solid var(--purple-color);
	outline-offset: 3px;
}

.showroom__form-btn:hover {
	color: var(--white-color);
	background: var(--purple-color);
}

.showroom__form-btn:active {
	color: var(--white-color);
	background: #7943A4;
	outline: 3px solid #D1A9F0;
	outline-offset: -1px;
}

.showroom__contacts-title {
	margin: 0;
	color: var(--333-color);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	margin-bottom: 6px;
}

.showroom__socials {
	display: flex;
	align-items: center;
	gap: 20px;
}

.showroom__social-link {
	display: flex;
	position: relative;
	border-radius: 50%;
}

.showroom__social-link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	border: 1px solid var(--purple-color);
	opacity: 0;
}

.showroom__social-link:focus {
	opacity: 0.5;
	outline: none;
}

.showroom__social-link:hover {
	opacity: 0.5;
}

.showroom__social-link:active::before {
  opacity: 1;
}

/* footer */
.footer {
	padding: 50px 0;
	background: var(--black-color);
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__logo-img {
	max-width: 173px;
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 20px;
}

.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__social-icon {
	width: 45px;
	height: 45px;
	fill: #CACACA;
}

.footer__social-link:focus {
	outline: none;
}

.footer__social-link:focus .footer__social-icon {
	fill: #FFFFFF;
}

.footer__social-link:hover .footer__social-icon {
	fill: #FFFFFF;
}

.footer__social-link:active .footer__social-icon {
	fill: var(--purple-color);
}

/*  */
